Repository DevanB/lucidlog: changes, and which lefthook commands are due for each by the changed paths.
All: pint, ultracite, typescript, larastan, rector

pint:
  run: vendor/bin/pint {staged_files}
  stage_fixed: true

ultracite:
  run: npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

typescript:
  run: npm run types

larastan:
  run: vendor/bin/phpstan analyse --memory-limit=2G {staged_files} --error-format=table

rector:
  run: vendor/bin/rector process {staged_files} --dry-run

Add CodeRabbit configuration and fix minor code issues
  .coderabbit.yaml
  .cursor/mcp.json
  .junie/mcp/mcp.json
  .mcp.json
  agent-os/specs/2025-11-20-developer-tooling-setup/verifications/final-verification.md
  opencode.json
  resources/js/components/appearance-tabs.tsx
  resources/js/components/ui/navigation-menu.tsx
  resources/js/hooks/use-appearance.tsx
  resources/js/hooks/use-initials.tsx
  resources/js/pages/auth/two-factor-challenge.tsx
Due: ultracite, typescript

Fix two-factor modal verification step to properly reset state on close
  resources/js/components/two-factor-setup-modal.tsx
Due: ultracite, typescript

Update MCP configurations and refine frontend components
  .cursor/mcp.json
  .editorconfig
  .junie/mcp/mcp.json
  .mcp.json
  opencode.json
  resources/js/hooks/use-appearance.tsx
  resources/js/pages/auth/two-factor-challenge.tsx
Due: ultracite, typescript

Fix CI lint workflow to use Ultracite check script
  .github/workflows/lint.yml
Due: none

Fix CI workflow and improve seeder with factory state
  .github/workflows/lint.yml
  database/factories/UserFactory.php
  database/seeders/DatabaseSeeder.php
  pint.json
  resources/js/components/app-content.tsx
  resources/js/components/app-skip-link.tsx
  resources/js/components/two-factor-setup-modal.tsx
  resources/js/components/ui/sidebar.tsx
  resources/js/components/user-menu-content.tsx
  resources/js/hooks/use-appearance.tsx
  resources/js/hooks/use-mobile.tsx
  resources/js/layouts/app-layout.tsx
  resources/js/layouts/settings/layout.tsx
  resources/js/pages/auth/login.tsx
  resources/js/pages/auth/register.tsx
  resources/js/pages/settings/appearance.tsx
  resources/js/pages/settings/password.tsx
  resources/js/pages/settings/profile.tsx
  resources/js/pages/settings/two-factor.tsx
Due: pint, ultracite, typescript, larastan, rector

Path conditions:
  pint: any of: *.php
  ultracite: any of: *.{js,jsx,ts,tsx}
  typescript: any of: *.{ts,tsx}
  larastan: any of: *.php
  rector: any of: *.php
